@import '../../styles/vars';

.vm {
  background-color: #f4dc26;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  height: 85vh;
  width: 50%;
  border: solid 2px black;
  border-radius: 15px;
  display: flex;
  .left {
    width: 50%;
    .sign {
      margin: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(20% - 4rem);
      font-family: $signFontFamily;
      font-size: 2rem;
      background-color: #fff;
      color: black;
      letter-spacing: 1rem;
      border: 0.2rem solid #fff;
      border-radius: 1rem;
      box-shadow: 0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 2rem #f4dc26,
      0 0 0.8rem #f4dc26,
      0 0 2.8rem #f4dc26,
      inset 0 0 1.3rem #f4dc26;
    }
    .products {
      margin: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      height: 60%;
      .product {
        width: calc((100% / 3) - 2rem);
        height: calc((100% / 3) - 2rem);
        box-sizing: border-box;
        margin: 1rem;
        border: 0.2rem solid #fff;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: #fff;
        .productImg {
          height: 50%;
          padding: 0.5rem;
          box-shadow: 0 0 .2rem #fff,
          0 0 .2rem #fff,
          0 0 2rem #f4dc26,
          0 0 0.8rem #f4dc26,
          0 0 2.8rem #f4dc26,
          inset 0 0 1.3rem #f4dc26;
          border-top-right-radius: 1rem;
          border-top-left-radius: 1rem;
        }
        .productId {
          background-color: black;
          border-bottom-right-radius: 1rem;
          border-bottom-left-radius: 1rem;
          color: #fff;
          font-weight: bold;
          padding: 0.5rem;
          font-family: $secondaryFontFamily;
        }
      }
    }
    .pickupBox {
      margin: 2rem;
      height: calc(20% - 4rem);
      border: solid 2px black;
      background: rgba(0, 0, 0, 0.185);
    }
  }
  .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    .screen {
      font-family: $secondaryFontFamily;
      font-weight: bold;
      margin: 2rem;
      height: 45%;
      border-radius: 0.5rem;
      background-color: #fff;
      animation: pulsate 0.11s ease-in-out infinite alternate;
      .instructions {
        padding: 1rem;
        margin: 0.65rem;
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
        background-color: black;
        color: #f4dc26;
      }
      .pad {
        display: grid;
        grid-template-columns: 3rem 3rem 3rem;
        grid-template-rows: 3rem 3rem 3rem; 
        column-gap: 1rem;
        row-gap: 1rem;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        .padNumber {
          box-sizing: border-box;
        }
      }
      @keyframes pulsate {
        100% {
          /* Larger blur radius */
          box-shadow: 0 0 .2rem #fff,
          0 0 .2rem #fff,
          0 0 2rem #f4dc26,
          0 0 0.8rem #317ed0,
          0 0 2.8rem #f4dc26,
          inset 0 0 1.3rem #317ed0;
        }
       0% {
          /* Slightly smaller blur radius */
          box-shadow: 0 0 .1rem #fff,
          0 0 .17rem #fff,
          0 0 1.7rem #f4dc26,
          0 0 0.7rem #317ed0,
          0 0 1.8rem #f4dc26,
          inset 0 0 1rem #317ed0;
        }
      }
      .selectedProduct {
        .selectedProductImg {
          height: 3rem;
          margin-bottom: 0.1rem;
        }
      }
    }
    .cardReader {
      margin: 1rem;
      height: 10%;
      width: 20%;
      align-self: center;
      background-color: #fff;
      box-shadow: 0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 2rem #f4dc26,
      0 0 0.8rem #f4dc26,
      0 0 2.8rem #f4dc26,
      inset 0 0 1.3rem #f4dc26;
      border-radius: 1rem;
      .creditCardImg {
        height: 75%;
        padding: 0.5rem;
      }
    }
    .refillButton {
      margin: 1rem;
      height: 10%;
      width: 20%;
      align-self: center;
      background-color: #fff;
      box-shadow: 0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 2rem #f4dc26,
      0 0 0.8rem #f4dc26,
      0 0 2.8rem #f4dc26,
      inset 0 0 1.3rem #f4dc26;
      border-radius: 1rem;
      .wheelbarrowImg {
        height: 75%;
        padding: 0.5rem;
      }
    }
  }
}