// fonts

$mainFontFamily: Arial, Helvetica, sans-serif;
$mainFontSize: 14px;

// colors

$mainBackgroundColor: #FBFBF8;
$mainFontColor: black;

// breakpoints

$mobileBreakPoint: 460px;
$tabletBreakPoint: 800px;
$desktopBreakPoint: 1000px;
$largeDesktopBreakPoint: 1200px;