// fonts

$mainFontFamily: Arial, Helvetica, sans-serif;
$mainFontSize: 14px;
$signFontFamily: 'Permanent Marker', cursive;
$secondaryFontFamily: 'Changa', sans-serif;
$thirdFontFamily: 'Sedgwick Ave Display', cursive;

// colors

$mainBackgroundColor: #FBFBF8;
$mainFontColor: black;
$vmColor: #f4dc26;

// breakpoints

$mobileBreakPoint: 481px;
$tabletBreakPoint: 767px;
$desktopBreakPoint: 1024px;
$largeDesktopBreakPoint: 1200px;