@import 'reset';
@import 'vars';

html {
  font-size: $mainFontSize;
}

body {
  background-image: url(../images/brickwall.jpg);
  background-size: contain;
  background-color: $mainBackgroundColor;
  font-family: $mainFontFamily;
  color: $mainFontColor;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}