.refillButton {
  margin: 1rem;
  height: 5rem;
  width: 5rem;
  align-self: center;
  background-color: #fff;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #f4dc26,
  0 0 0.8rem #f4dc26,
  0 0 2.8rem #f4dc26,
  inset 0 0 1.3rem #f4dc26;
  border-radius: 1rem;
  .wheelbarrowImg {
    height: 75%;
    padding: 0.5rem;
  }
  &:hover {
    box-shadow: 0 0 .2rem #fff,
    0 0 .1rem #fff,
    0 0 1rem #0070ba,
    0 0 0.4rem #0070ba,
    0 0 0.4rem #0070ba,
    inset 0 0 1.3rem #0070ba;
  }
  &:active {
    box-shadow: 0 0 .2rem #fff,
    0 0 .1rem #fff,
    0 0 1rem #00ba7c,
    0 0 0.4rem #00ba7c,
    0 0 0.4rem #00ba7c,
    inset 0 0 1.3rem #00ba7c;
  }
}